# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/hospital-front-end/node_modules
/hospital-front-end/.pnp
/hospital-fron-end/.pnp.js

# testing
/hospital-front-end/coverage

# next.js
/hospital-front-end/.next/
/hospital-front-end/out/

# production
/hospital-front-end/build

# misc
/hospital-front-end/.DS_Store
*.pem

# debug
/hospital-front-end/npm-debug.log*
/hospital-front-end/yarn-debug.log*
/hospital-front-end/yarn-error.log*
/hospital-front-end/.pnpm-debug.log*

# local env files
/hospital-front-end/.env*.local

# vercel
/hospital-front-end/.vercel
